<!DOCTYPE html>
<html>
    <head>
        <title>Crawl - Join</title>
        <meta charset="utf-8">
        <link rel="stylesheet" href="/static/style.css">
    </head>
    <body>
        <h1><a href="/">Join</a></h1>
        <div id="container">
            <form action="/join" method="post">
                <p><input type='text' name='userid' placeholder="userid"></p>
                <p><input type='password' name='password' placeholder="password"></p>
                <p><input type='submit' value='join'></p>
            </form>  
            <div>{{ msg }}</div>
        </div>
    </body>
</html>